/* BODY GENERAL */

.body {
    margin: auto;
    background-image: url(../imagenes/JuegosComida&Cafe-Logo-Banner.png);
    background-size: cover;
    background-position: 50%;
    background-color: #343A46;
    color: cyan;
}

/* BOTONES DEL HEADER */

.botones {
    background-color: black;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.botones li {
    display: inline-block;
    height: 30px;
    width: 75px;
}

.botones a {
    text-decoration: none;
    color: blueviolet;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 6px;
}

/* NOTICIAS DEL LADO IZQUIERDO */

.noticiaIzquierda {
    display: grid;
    grid-template-areas:
        "fotoIzq fotoIzq parrafoIzq"
        "fotoIzq fotoIzq parrafoIzq"
        "fotoIzq fotoIzq comentarioIzq";
}

.fotoIzq {
    grid-area: fotoIzq;
}

.parrafoIzq {
    grid-area: parrafoIzq;
    text-align: center;
    margin: auto;
    padding: 0%;
}

.comentarioIzq {
    grid-area: comentarioIzq;
    text-align: center;
    margin: auto;
    padding: 0%;
}

/* NOTICIAS DEL LADO DERECHO */

.noticiaDerecha {
    display: grid;
    grid-template-areas:
        "parrafoDer fotoDer fotoDer"
        "parrafoDer fotoDer fotoDer"
        "comentarioDer fotoDer fotoDer";
}

.fotoDer {
    grid-area: fotoDer;
}

.parrafoDer {
    grid-area: parrafoDer;
    text-align: center;
    margin: auto;
    padding: 0%;
}

.comentarioDer {
    grid-area: comentarioDer;
    text-align: center;
    margin: auto;
    padding: 0%;
}

/* FOOTER GENERAL */

.footer {
    background-color: black;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.footer li {
    display: inline-block;
}

.footer a {
    color: blueviolet;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.ini {
    position: relative;
    right: 15px;
}

.sug {
    position: relative;
    right: 5px;
}

.sep {
    position: relative;
    left: 5px;
}

.nos {
    position: relative;
    left: 15px;
}

/* SUGERENCIAS */

.sugerencia {
    border: 1px white solid;
    text-align: center;
    display: grid;
    gap: 30px;
    grid-template-areas:
        "h2 h2"
        "nombreSug correoSug"
        "nombreSug correoSug"
        "textSug textSug"
        "botonEnvSug botonLimSug"
        "h3 h3";
}

.nombreSug {
    grid-area: nombreSug;
    position: relative;
    left: 200px;
}

.correoSug {
    grid-area: correoSug;
    position: relative;
    right: 200px;

}

.textSug {
    grid-area: textSug;
    margin: auto;
    width: 1200px;
}

.botonEnvSug {
    grid-area: botonEnvSug;
    margin: auto;
    width: 150px;
    height: 30px;
    position: relative;
    left: 220px;
}

.botonLimSug {
    grid-area: botonLimSug;
    margin: auto;
    width: 150px;
    height: 30px;
    position: relative;
    right: 150px;
}

.sugerencia h3 {
    grid-area: h3;
}

.sugerencia h2 {
    grid-area: h2;
}

/* SE PARTE */

.seParte {
    border: 1px white solid;
    text-align: center;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "nombreSep apellidoSep"
        "correoSep contraSep"
        "condSep condSep"
        "parrafoSep parrafoSep"
        "suscriSep suscriSep";
}

.nombreSep {
    grid-area: nombreSep;
    position: relative;
    left: 200px;

}

.apellidoSep {
    grid-area: apellidoSep;
    position: relative;
    right: 200px;

}

.correoSep {
    grid-area: correoSep;
    position: relative;
    left: 165px;

}

.contraSep {
    grid-area: contraSep;
    position: relative;
    right: 205px;

}

.parrafoSep {
    grid-area: parrafoSep;
}

.condSep {
    grid-area: condSep;
}

.suscriSep {
    grid-area: suscriSep;
    margin: auto;
    width: 300px;
}

/* NOSOTROS */

.marPad {
    margin: auto;
    padding: 1%;
}

/* QUERIES */

@media screen and (max-width: 900px) {

    /* NOTICIA IZQUIERDA */
    .comentarioIzq {
        max-width: 50%;
    }

    .parrafoIzq {
        max-width: 70%;
    }

    .fotoIzq {
        margin: auto;
    }

    .noticiaIzquierda {
        justify-content: center;
        display: grid;
        grid-template-areas:
            "fotoIzq fotoIzq fotoIzq"
            "parrafoIzq parrafoIzq parrafoIzq"
            "comentarioIzq comentarioIzq comentarioIzq";
    }

    /* NOTICIA DERECHA */
    .noticiaDerecha {
        justify-content: center;
        display: grid;
        grid-template-areas:
            "fotoDer fotoDer fotoDer"
            "parrafoDer parrafoDer parrafoDer"
            "comentarioDer comentarioDer comentarioDer";
    }

    .comentarioDer {
        max-width: 50%;
    }

    .parrafoDer {
        max-width: 70%;
    }

    .fotoDer {
        margin: auto;
    }

    /* SUGERENCIAS */

    .nombreSug {
        left: auto;
    }

    .correoSug {
        right: auto;
    }

    .textSug {
        width: auto;
    }

    .botonEnvSug {
        left: auto;
    }

    .botonLimSug {
        right: auto;
    }

    /* SE PARTE */

    .nombreSep {
        left: auto;
        bottom: 10px;
    }

    .apellidoSep {
        right: auto;
        bottom: 5px;
    }

    .correoSep {
        left: auto;
    }

    .contraSep {
        right: auto;
        top: 5px;
    }
}

/* QUERIES ESPECIFICOS */
/* TABLETA */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* TEXTO DE SUGERENCIA*/

    .textSug {
        position: relative;
        width: 500px;
    }
}

/* TELEFONO */

@media only screen and (min-width: 375px) and (max-width: 767px) {

    /* FOOTER */

    .footer li {
        justify-content: center;
        display: grid;
    }

    .ini {
        right: auto;
        position: relative;
        bottom: 10px;
    }

    .sug {
        right: auto;
        position: relative;
        bottom: 5px;
    }

    .sep {
        left: auto;
    }

    .nos {
        left: auto;
        position: relative;
        top: 5px;
    }
}