/* BODY GENERAL */

.body {
    margin: auto;
    background-image: url(../imagenes/JuegosComida&Cafe-Logo-Banner.png);
    background-size: cover;
    background-position: 50%;
    background-color: #343A46;
    color: cyan;
  }