/* FOOTER GENERAL */

@import "variables";

.footer {
    background-color: black;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
  
    li {
      display: inline-block;
    }
  
    a {
      color: $color-base;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
  
      &:hover {
        color: $color-baseHover;
      }
    }
  }
  
  .ini {
    position: map-get($mapFooter, posicionF);
    right: map-get($mapFooter, alineacionEx);
  }
  
  .sug {
    position: map-get($mapFooter, posicionF);
    right: map-get($mapFooter, alineacionIn);;
  }
  
  .sep {
    position: map-get($mapFooter, posicionF);
    right: map-get($mapFooter, alineacionIn);
  }
  
  .nos {
    position: map-get($mapFooter, posicionF);
    right: map-get($mapFooter, alineacionEx);
  }