/* NOTICIAS DEL LADO IZQUIERDO */

@import "variables";

.noticiaIzquierda {
    display: grid;
    grid-template-areas: "fotoIzq fotoIzq parrafoIzq" "fotoIzq fotoIzq parrafoIzq" "fotoIzq fotoIzq comentarioIzq";
  }
  
  .fotoIzq {
    grid-area: fotoIzq;
  }
  
  .parrafoIzq {
    grid-area: parrafoIzq;
    @include posicionN
  }
  
  .comentarioIzq {
    grid-area: comentarioIzq;
    @include posicionN
  }