/* NOTICIAS DEL LADO DERECHO */

@import "variables";

.noticiaDerecha {
    display: grid;
    grid-template-areas: "parrafoDer fotoDer fotoDer" "parrafoDer fotoDer fotoDer" "comentarioDer fotoDer fotoDer";
  }
  
  .fotoDer {
    grid-area: fotoDer;
  }
  
  .parrafoDer {
    grid-area: parrafoDer;
    @include posicionN
  }
  
  .comentarioDer {
    grid-area: comentarioDer;
    position: relative;
    bottom: 5px;
    @include posicionN
  }