/* QUERIES ESPECIFICOS */

/* TELEFONO */

@media only screen and (min-width: 300px) and (max-width: 767px) {
  /* FOTOS NOTICIAS */

  .fotoIzq{
    img{
      max-width: 280px;
    }
  }

  .fotoDer{
    img{
      max-width: 280px;
    }
  }

  /* FOOTER */

  .footerGeneral li {
    display: flex;
    justify-content: center;
  }

  .ini {
    right: auto;
  }

  .sug {
    right: auto;
  }

  .sep {
    left: auto;
  }

  .nos {
    left: auto;
  }

  /* COMENTARIO */

  .comentario {
    position: relative;
    bottom: 3px;
  }

  .bodyIndex {
    background-image: none;
  }
}