/* QUERIES ESPECIFICOS */

/* TELEFONO */

@media only screen and (min-width: 375px) and (max-width: 767px) {
    /* FOOTER */
  
    .footer li {
      justify-content: center;
      display: grid;
    }
  
    .ini {
      right: auto;
      position: relative;
      bottom: 10px;
    }
  
    .sug {
      right: auto;
      position: relative;
      bottom: 5px;
    }
  
    .sep {
      left: auto;
    }
  
    .nos {
      left: auto;
      position: relative;
      top: 5px;
    }

    /* COMENTARIO */

    .comentario{
      position: relative;
      bottom: 3px;
    }

    .bodyIndex{
      background-image:none;
    }
  }