/* QUERIES ESPECIFICOS */

/* TELEFONO */

@media only screen and (min-width: 300px) and (max-width: 767px) {
    /* FOOTER */
  
    .footer li {
      display: flex;
      justify-content: center;
    }
  
    .ini {
      right: auto;
    }
  
    .sug {
      right: auto;
    }
  
    .sep {
      left: auto;
    }
  
    .nos {
      left: auto;
    }

    /* COMENTARIO */

    .comentario{
      position: relative;
      bottom: 3px;
    }

    .bodyIndex{
      background-image:none;
    }
  }