// Para los botones y navbar
$color-base: blueviolet;
$color-baseHover: cyan;

//MIXIN para noticias

@mixin posicionN {
    text-align: center;
    margin: auto;
    padding: 0%;    
}

//MAPGET FOOTER

$mapFooter: (posicionF: relative, alineacionEx: 15px, alineacionIn: 5px);